* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
  font-family: sans-serif;
  width: 100%;
  height: 100vh;
}

.main-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  gap: 20px;
  height: 100vh;
}

.first-container {
  grid-column: span 2;
  grid-row: span 12;
  /* background-color: blue; */
}

.second-container {
  grid-column: span 10;
  grid-row: span 3;
  /* background-color: azure; */
}

.third-container {
  grid-column: span 6;
  grid-row: span 6;
  background-color: white;
  border-radius: 8px;
}

.barchart {
  height: 110%;
  padding: 36px;
}

.fourth-container {
  grid-column: span 4;
  grid-row: span 6;
  background-color: white;
  border-radius: 8px;
  margin-right: 12px;
}

.doughnut {
  display: flex;
  flex-direction: column;
  gap: 10px
}

.doughnut-header{
  padding: 12px;
}

.doughnut-chart {
  height: 200px;
  width: 200px;
  align-self: center;
}

.fifth-container {
  background-color: white;
  grid-column: span 10;
  grid-row: span 3;
  padding: 12px;
  display: flex;
  flex-direction: column;
}

.table-header-container {
  display: flex;
  justify-content: space-between;
  font-family: sans-serif;
}

.product-header {
  display: flex; 
  justify-content: space-between;
  margin-top: 12px;
  color: grey
}

.product-header-details {
  display: flex;
  justify-content: flex-end;
  gap: 48px;
  color: grey
}

.product-content {
  display: flex;
  padding: 8px;
  gap: 10px;
}

.product-description {
  font-family: sans-serif;
  align-content: center;
}

.product-heading {
  font-weight: bold;

}
.product-subheading {
  color: grey;
  font-size: 14px;
}

.summary-box-container {
  background-color: white;
  display: flex;
  border-radius: 8px;
  width: 220px;
}

.summary-box-icon {
  padding: 12px;
}

.summary-box-specs {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  justify-content: center;
}

.summary-box-text {
  font-weight: lighter;
  font-size: small;
}

.summary-box-number {
  font-weight: bold;
}

.summary-box-percent {
  font-weight: lighter;
  font-size: small;
}

.header-container {
  display: flex;
  margin: 16px;
  margin-bottom: 0;
  justify-content: space-between;
}

.summary-box-list {
  display: flex;
  gap: 10px;
  justify-content: space-around;
  margin-top: 10px;
}

.customer-box-container {
  background-color: white;
  width: 300px;
  margin: 24px;
  align-items: center;
}

.customer-header {
  padding: 10px;
}

.customer-header-subtext {
  font-weight: lighter;
  font-size: small;
}

.overview-box-container {
  background-color: white;
  width: 600px;
  padding: 12px;
  border-radius: 12px;
}

.overview-customer-line {
  display: flex;
  gap: 12px;
  margin: 18px;
}

.sidemenu-header {
  padding: 10px;
  text-align: left;
  display: flex;
  justify-content: flex-start;
  gap: 5px;
}

.sidemenu-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: white;
  font-size: 10px;
  padding: 10px;
  gap: 12px;
}

.sidemenu-list-item {
  background-color: rgb(151, 151, 233);
  border-radius: 6px;
  width: 160px;
}

.sidemenu-list-others {
  display: flex;
  justify-content: space-evenly;
}

.sidemenu-profile {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  /* background-color: rgb(151, 151, 233); */
  width: 150px;
  height: 300px;
}

.dashboard-container {
  display: grid;
  gap: 20px;
  height: 100vh;
  width: 100%;
  /* background-color: aqua; */
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
}

.price-details {
  display: flex;
  gap: 24px;
  justify-content: flex-end;
}

