body {
  background-color: #eef0f8;
  margin: 10px
}

.summary-box-container {
  background-color: white;
  max-width: 170px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

/* .summary-box-icon {
  
} */

.summary-box-specs {
  margin: 0;
  line-height: 0%;
}

.summary-box-text {
  font-weight: lighter;
  font-size: small;
}

.summary-box-number {
  font-weight: bold;
}

.summary-box-percent {
  font-weight: lighter;
  font-size: small;
}

.summary-box-list {
  display: grid;
  gap: 24px
}

.customer-box-container {
  background-color: white;
  width: 300px;
  margin: 24px;
}

.customer-header {
  padding: 10px;
  line-height: 0;
}

.customer-header-subtext {
  font-weight: lighter;
  font-size: small;
}





@media (min-width: 500px) {
  .summary-box-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 800px) {
  .summary-box-list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

